<div class="row-fluid">
	
	<div class="span12">
	
    	<ul class="nav nav-pills" id="admin_navbar">
    		<li class="active"><%=link_to t("admin.home"),admin_root_path%></li>
    		<li><%=link_to t("orders"),'#'%></li>
    		<li><%=link_to t("products"),admin_products_path%></li>
    		<li><%=link_to t("collections"),'#'%></li>
    		<li><%=link_to t("navigation"),'#'%></li>
    		<li><%=link_to t("promotions"),'#'%></li>
   		</ul>
	
	   
	 </div>

</div>
<br />
