<%=form_for [:admin,@product],:html=>{ :multipart => true } do |f| %>
  
  <div class="new_product_details"> 
    <%= @product.new_record? ? t("admin.products.new.new_product_details"):t("admin.products.edit.edit_product")%>
  </div>
  
  <br />      
  
  <div class="row-fluid">
    <!-- Title zone --> 
    <div class="span7">
  
  		<div>
    		<%=f.label(:title,t("admin.products.new.product_title"))%>
    		<span><%="( #{ t('admin.products.new.examples')} )"%></span>  
  		</div>  
       
 
  		<div>
    		<%=f.text_field :title%>
  		</div>
   
  	</div>
    
    <!--Images zone -->
    <div class="span4">
    	<div class="row-fluid">
        	<div class="span2">
          		<%=image_tag "camera.png"%>
         	</div>
            <div class="span9 product_images_label">

           		<%=link_to t("admin.products.new.new_image"),'javascript:', 
           		 id:"add_another_image"
           		 %>
           		
           	
            </div>
            
         </div>  
         <hr class="cool_line"/>
         
         <div class="row-fluid"> <!-- Altra riga, con lista delle immagini caricate-->
         
           <div id="images">
           	
           </div>
         
         </div>
      
      
      </div>
    
    </div> 

   <div>
    <%=f.label(:description,t("admin.products.new.description"))%>
    <span><%="( #{ t('admin.products.new.suggest')} )"%></span> 
  </div>  
       
 
  <div>
    <%=f.text_area :description%>
  </div>

  <div>
    <%=f.label(:price,t("admin.products.new.price"))%> 
  </div>  
       
 
  <div>
    <%=f.text_field :price, placeholder:0.01, class:'price'%>
  </div>
 
  <div class="metalic">
  	
  	<%= @product.new_record? ? (f.submit t("admin.products.new.submit"),:class=>"btn btn-primary btn-large") : 
  	(f.submit t("admin.products.edit.submit"),:class=>"btn btn-primary")%>
  </div>   

<%end%> 