<!DOCTYPE html>
<html>
<head>
  <title><%=title%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="body">
	<%=render 'layouts/fixed_top_navbar'%>
    <div class="container-fluid">
      <%=render 'layouts/main'%>
      <hr class="cool_line" />
    </div> 
</body>
</html>
